@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(155deg,#afe0f3,#7fd2b2);
}

.container
{
    position: relative;
    max-width: 300px;
    width: 100%;
    padding: 10px 20px 20px;
    background: #070606;
    /* background: #dbe8e4; */
    box-shadow: 0 5px 10px rgba(0,0,0,0.5);
}

.display
{
    height: 80px;
    width: 100%;
    margin-bottom: 10px;
    outline: none;
    border: none;
    text-align: right;
    font-size: 25px;
    color: black;
}

.buttons{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4,1fr);
}

.buttons button{
    padding: 10px;
    border-radius: 6px;
    border: none;
    font-size: 20px;
    cursor: pointer;
    background-color: #eee;
}
.buttons button:active
{
    transform: scale(0.99);
}
.operator{
    color:#ce3e3e;
}